Caso_1
{"createdAt":"2025-04-30T18:30:51.026Z","updatedAt":"2025-05-18T11:51:38.683Z","name":"Caso 1","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-640,-100],"id":"5fb74d80-e2d8-4b35-89ba-f95280a9912f","name":"When chat message received","webhookId":"6a69b0e0-7bfb-4813-a8aa-ad848c750fbd"},{"parameters":{"assignments":{"assignments":[{"id":"0f6bab4d-aa21-4b98-a074-a87c3a67e2b5","name":"idConversa","value":"={{ $json.sessionId }}","type":"string"},{"id":"3f26f7e3-8d20-4d04-9ccd-e7770f637d73","name":"mensagem","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,-100],"id":"8d353a5b-229d-40e7-a5f5-2ebe8f172afe","name":"Edit Fields"},{"parameters":{"resource":"table","workbook":{"__rl":true,"value":"01SELBGHAGPR6EWMUMONAIP5HEO3TFLNHX","mode":"list","cachedResultName":"Paulo-Moreira-n8n","cachedResultUrl":"https://dataprevrj-my.sharepoint.com/personal/paulo_rmoreira_dataprev_gov_br/_layouts/15/Doc.aspx?sourcedoc=%7B4B7C7C06-8C32-4073-87F4-E476E655B4F7%7D&file=Paulo-Moreira-n8n.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{71398BC4-21D7-4558-B9C1-004F0A313D3A}","mode":"list","cachedResultName":"Caso 1","cachedResultUrl":"https://dataprevrj-my.sharepoint.com/personal/paulo_rmoreira_dataprev_gov_br/_layouts/15/Doc.aspx?sourcedoc=%7B4B7C7C06-8C32-4073-87F4-E476E655B4F7%7D&file=Paulo-Moreira-n8n.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Caso%201!A1"},"table":{"__rl":true,"value":"{97BF17A2-32E4-48FC-A165-0472C899E174}","mode":"list","cachedResultName":"Conversas","cachedResultUrl":"https://dataprevrj-my.sharepoint.com/personal/paulo_rmoreira_dataprev_gov_br/_layouts/15/Doc.aspx?sourcedoc=%7B4B7C7C06-8C32-4073-87F4-E476E655B4F7%7D&file=Paulo-Moreira-n8n.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha2!A1:B14"},"fieldsUi":{"values":[{"column":"idConversa","fieldValue":"={{ $json.idConversa }}"},{"column":"=mensagem","fieldValue":"={{ $json.mensagem }}"}]},"options":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[-200,-100],"id":"1b363a29-4550-4b86-80d0-5ddeeefea908","name":"Microsoft Excel 365","credentials":{"microsoftExcelOAuth2Api":{"id":"EI3nQNK3Lokr38x5","name":"Microsoft Excel account"}}},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields').last().json.mensagem }}","options":{"systemMessage":"Você é um super agente de suporte, seu nome é Autômato, seja educado, engraçado e utilize emojis em suas respostas para deixar a conversa mais humanizada."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[20,-100],"id":"87515e4e-9a7a-4685-876a-af6ba086617b","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.idConversa }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[100,100],"id":"d68ac791-b1f6-4172-925f-12fc59c3364b","name":"Simple Memory"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[380,-100],"id":"7a898f3a-4629-4698-9d03-41dda66a8a09","name":"No Operation, do nothing"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[280,120],"id":"08f7db81-dd94-47a9-b8af-e79e58f85128","name":"Wikipedia","notes":"Esta é uma nota da Wikipedia"},{"parameters":{"projectId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleVertex","typeVersion":1,"position":[-100,120],"id":"b310cff0-3e63-4c44-99a3-40bc777e0fb9","name":"Google Vertex Chat Model"}],"connections":{"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Microsoft Excel 365","type":"main","index":0}]]},"Microsoft Excel 365":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Vertex Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eececcc9-cc6d-4d96-a031-c96efd35e751","triggerCount":1,"tags":[]}
